<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config
                            http://thelia.net/schema/dic/config/thelia-module.xsd">

    <loops>
        <loop name="cawl_transaction" class="CawlPayment\Loop\CawlTransactionLoop" />
        <loop name="cawl_payment_method" class="CawlPayment\Loop\PaymentMethodLoop" />
    </loops>

    <forms>
        <form name="cawlpayment.configuration" class="CawlPayment\Form\ConfigurationForm" />
    </forms>

    <!-- Services -->
    <services>
        <!-- Security Services -->
        <service id="CawlPayment\Service\CsrfTokenService" class="CawlPayment\Service\CsrfTokenService">
            <argument type="service" id="request_stack"/>
        </service>

        <service id="CawlPayment\Service\CredentialsEncryptionService" class="CawlPayment\Service\CredentialsEncryptionService"/>

        <service id="CawlPayment\Service\SecureConfigService" class="CawlPayment\Service\SecureConfigService">
            <argument type="service" id="CawlPayment\Service\CredentialsEncryptionService"/>
        </service>

        <service id="CawlPayment\Service\IpWhitelistService" class="CawlPayment\Service\IpWhitelistService"/>

        <!-- Controllers -->
        <service id="CawlPayment\Controller\Admin\ConfigurationController" class="CawlPayment\Controller\Admin\ConfigurationController" public="true">
            <argument type="service" id="thelia.securityContext"/>
            <argument type="service" id="CawlPayment\Service\CsrfTokenService"/>
            <argument type="service" id="CawlPayment\Service\SecureConfigService"/>
            <tag name="controller.service_arguments"/>
        </service>

        <service id="CawlPayment\Controller\Admin\TestController" class="CawlPayment\Controller\Admin\TestController" public="true">
            <argument type="service" id="thelia.securityContext"/>
            <tag name="controller.service_arguments"/>
        </service>

        <service id="CawlPayment\Controller\Front\PaymentController" class="CawlPayment\Controller\Front\PaymentController" public="true">
            <argument type="service" id="event_dispatcher"/>
            <tag name="controller.service_arguments"/>
        </service>

        <service id="CawlPayment\Controller\Front\WebhookController" class="CawlPayment\Controller\Front\WebhookController" public="true">
            <argument type="service" id="event_dispatcher"/>
            <argument type="service" id="CawlPayment\Service\IpWhitelistService"/>
            <tag name="controller.service_arguments"/>
        </service>

        <service id="CawlPayment\Controller\Front\AssetController" class="CawlPayment\Controller\Front\AssetController" public="true">
            <tag name="controller.service_arguments"/>
        </service>
    </services>

    <!-- Hooks -->
    <hooks>
        <hook id="cawlpayment.hook.admin" class="CawlPayment\Hook\AdminHook">
            <argument type="service" id="CawlPayment\Service\CsrfTokenService"/>
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
        </hook>
    </hooks>

</config>
