<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config
                            http://thelia.net/schema/dic/config/thelia-module.xsd">

    <loops>
        <loop name="cawl_transaction" class="CawlPayment\Loop\CawlTransactionLoop" />
        <loop name="cawl_payment_method" class="CawlPayment\Loop\PaymentMethodLoop" />
    </loops>

    <forms>
        <form name="cawlpayment.configuration" class="CawlPayment\Form\ConfigurationForm" />
    </forms>

    <!-- Services and hooks moved to Config/services.yaml -->
    <!-- Routes moved to PHP #[Route] attributes on controllers -->

</config>
